@media screen and (max-width:1199px){

#Custom_ID_261707714 .Custom_Class_311203497{

	font-size:24px !important;

}

#Custom_ID_177945052{

	padding-bottom:50px !important;

	text-align:center !important;

}

#Custom_ID_177945052 .vc_col-sm-7,

#Custom_ID_177945052 .vc_col-sm-5,

#Custom_ID_177945052 .vc_col-sm-6

{

	width:100% !important;

}

#Custom_ID_177945052 .textfield_2{

	width:45% !important;

}

#Custom_ID_177945052 p{

	margin-bottom:20px !important;

}
#normal-header .navbar-collapse{
	float:right;
}
.Custom_Class_317154003 .vc_custom_1510317679521{
	padding-left:0px !important;
}
}
@media screen and (max-width:1024px){
.text_border:before{
	width:225px !important;
}
.text_border:after{
	width:225px !important;
}
#Custom_ID_2864856 .vc_custom_1510550140953{
	padding-left:15px !important;
}
}
@media screen and (max-width:991px){

#Custom_ID_2864856 .Custom_Class_552059592{

	width:100%;

	text-align:center;

}

.subpage-img{
	width:50%;
	margin:0 auto;
}
#Custom_ID_2864856  img{
	height:auto !important;
}
#Custom_ID_2864856 .vc_custom_1510317679521{
	padding-top:15px !important;
}
#Custom_ID_2864856 .gallery-img2{
	margin-bottom:0px;
}
#Custom_ID_2864856 .wpb_content_element{
	margin-bottom:20px;
}
#normal-header{
	text-align:center;
}
.contact-us .widget_text{
	padding:0px;
}
#footer{
	padding:50px 0 40px !important;
}
#Custom_ID_2864856 .vc_col-sm-6 {
    width: 100% !important;
}
.footer-menu-1,

.footer-menu-2,
.menu-section

{

	display:none !important;

}

#Custom_ID_2864856 h2{

	font-size:30px !important;

	line-height:36px;

}

#Custom_ID_2864856{

	padding-bottom:50px !important;

}

#Custom_ID_2864856 .vc_custom_1510215677530{

	padding-right:0px !important;

}

#Custom_ID_2864856 .vc_custom_1510306159745{

	padding-left:0px !important;

	text-align:center;

	padding-top:20px !important;

}

#Custom_ID_2663717 h2{

	font-size:40px !important;

	line-height:40px !important;

}

#Custom_ID_2663717{

	padding-bottom:110px !important;

}

#Custom_ID_261707714 .Custom_Class_311203497{

	font-size:18px !important;

}

#Custom_ID_261707714 .vc_custom_1510221121492{

	padding-top:50px !important;

	padding-bottom:50px !important;

}

.text_border:before {

	left:-50px;

	width:225px;

}

.text_border:after{

	width:225px;

	right:-50px;

}

.footer-outer{

	text-align:center;

}

#Custom_ID_2864856 .Custom_Class_317154003{

	width:100%;

}

#Custom_ID_2864856 .Custom_Class_296948010{

	padding-right:0px !important;

	text-align:center;

}

.Custom_Class_2748238{

	text-align:center;

}

#Custom_ID_2864856:before , #Custom_ID_4860415:before,

#Custom_ID_2864856.Custom_Class_942101096:before

{

	background:none !important;

}

#Custom_ID_2663717 br{

	display:none !important;

}
#Custom_ID_2864856{
	text-align:center;
}
.wpb_single_image{
	text-align:center !important;
}
#Custom_ID_2864856 .vc_custom_1510317679521{
	padding-left:15px !important;
}
#menu-primary{
	margin-top:10px !important;
}
}
@media screen and (max-width:830px){
#Custom_ID_746329551 .Custom_Class_599254481 p{	
	line-height:30px !important;
}
@media screen and (max-width:767px){

#Custom_ID_2864856:before{

	border:none;

}
#Custom_ID_2864856 .vc_custom_1510295394915{
	padding-top:0px !important;
}
.stewarding_content_section .vc_custom_1510550140953{
	padding-left:0px !important;
}
#Custom_ID_578299308{
	padding:20px 0;
}
#Custom_ID_578299308 .vc_col-sm-2{
	float:left;
	width:50%;
}
.text_border:before,
.text_border:after
{
	display:none !important;
}
#Custom_ID_2864856 .vc_custom_1510317685698{
	padding-top:0px !important;
}
#Custom_ID_907916214{
	padding-top:50px !important;
	padding-bottom:0px !important;
}
#Custom_ID_331965979{
	display:none;
}
.wpb_single_image.vc_align_left{
	text-align:center;
}
#Custom_ID_2864856 h2{

	font-size:24px !important;

	line-height:30px !important;

	margin-top:10px;

	margin-bottom:15px !important;

}

#Custom_ID_907916214 h2{
	margin-bottom:5px !important;
}

#Custom_ID_2864856 p{

	font-size:16px !important;

	margin-bottom:15px !important;

}

#Custom_ID_2864856 .wpb_single_image.vc_align_right{

	text-align:center;

}

#Custom_ID_2663717{

	padding-top:20px !important;

	padding-bottom:20px !important;

}

#Custom_ID_2663717 h2 {

    font-size: 30px !important;

    line-height: 30px !important;

	margin-bottom:24px !important;

}

#Custom_ID_261707714 .vc_custom_1510219166574,

#Custom_ID_261707714 .vc_custom_1510221121492

{

	padding-top:40px !important;

	padding-bottom:40px !important;

	text-align:center;

	font-size:14px;

	padding-left:0px !important;

}

#Custom_ID_261707714 .vc_custom_1510221121492{

	padding-left:6% !important;

	padding-right:6% !important;

}

#Custom_ID_6100039 h2{

	font-size:36px !important;

}

#Custom_ID_6100039 p{

	font-size:18px !important;

}

.submit_btn{

	font-size:16px;

}

.Custom_Class_317154003 .vc_column-inner{

	padding-top:30px !important;

	padding-left:15px !important;

}

#Custom_ID_2864856{

	padding-bottom:18px !important;

}

#Custom_ID_746329551 .Custom_Class_599254481 .vc_column-inner,

#Custom_ID_746329551 .Custom_Class_708495184 .vc_column-inner

{

	padding-top:40px !important;

	padding-bottom:40px !important;

	padding-left:0px !important;

	padding-right:0px !important;

}

#Custom_ID_746329551 .Custom_Class_599254481 .vc_column-inner p{

	font-size:18px !important;

	text-align:center !important;	

}

#Custom_ID_746329551 .Custom_Class_708495184{

	text-align:center !important;

}

#Custom_ID_363110030{

	padding-top:20px !important;

	padding-botom:20px !important;

}

#Custom_ID_363110030 .vc_column-inner {

	padding-top:0px !important;

}

#Custom_ID_578299308 .wpb_single_image.vc_align_left{

	text-align:center;

}

#Custom_ID_578299308 .wpb_content_element , #Custom_ID_363110030 .wpb_content_element{

	margin-bottom:10px !important;

}

#footer {

	padding:50px 0 !important;

}

#Custom_ID_2663717 p{

	font-size:16px !important;

}

#Custom_ID_907916214 , #Custom_ID_739212700{

	text-align:center !important;

}

#Custom_ID_907916214 .Custom_Class_843296756 .wpb_single_image.vc_align_left,

#Custom_ID_739212700 .Custom_Class_843296756 .wpb_single_image.vc_align_left 

{

	text-align:center !important;

}

#Custom_ID_907916214 .Custom_Class_843296756 h2,

#Custom_ID_739212700 .Custom_Class_843296756 h2

{

	font-size:30px !important;

	text-align:center !important;

	margin-bottom:15px;

}

#Custom_ID_907916214 .Custom_Class_843296756 p,

#Custom_ID_739212700 .Custom_Class_843296756 p

{

	font-size:18px !important;

	margin-bottom:10px !important;

}

#Custom_ID_907916214 .small_text,

#Custom_ID_739212700 .small_text

{

	font-size:16px !important;

}

#Custom_ID_177945052 p{

	font-size:16px !important;

}

#normal-header{

	padding-left:15px !important;

	padding-right:15px !important;

}

#normal-header span{

	background-color:#000 !important;

}

.menu-section {

    display: none;

}
.gallery-img8 img , .gallery-img9 img{
	width:100%;
}
}
@media screen and (max-width:560px){
.subpage-img{
	width:100%;
}
}

@media screen and (max-width:480px){

#Custom_ID_6100039{

	padding-bottom:20px !important;

}

#Custom_ID_6100039 h2{

	line-height:35px !important;

}

#Custom_ID_6100039 p br{

	display:none;

} 

.submit_btn, .Custom_Class_2748238{

	font-size:16px !important;

}

#Custom_ID_2864856 h2{

	font-size:20px !important;

	line-height:24px !important;

}

#Custom_ID_2864856 p{

	font-size:14px !important;

	line-height:22px !important;

}

.text_border:before , .text_border:after{

	background:none;

}

#Custom_ID_746329551 .Custom_Class_599254481 .vc_column-inner, #Custom_ID_746329551 .Custom_Class_708495184 .vc_column-inner{

	padding-top:30px !important;

	padding-bottom:30px !important;

}

#Custom_ID_746329551 .Custom_Class_708495184 .vc_column-inner{

	padding-right:15px !important;

	padding-left:15px !important;

}

#Custom_ID_363110030 p{

	font-size:18px !important;

}

#Custom_ID_578299308 .wpb_single_image{

	height:100px !important;

}

}
@media screen and (max-width:425px){
	#Custom_ID_578299308 .vc_col-sm-2{
		width:100%;
	}
	#Custom_ID_177945052 .textfield_2{
		width:58% !important;
	}
}
@media screen and (max-width:375px){
#Custom_ID_746329551 .Custom_Class_599254481 p{
	padding-left:15px;
	padding-right:15px;
}
}